<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="우리다움"/>
    <meta property="og:url" content="http://wooridaum.tk/"/>
    <meta property="og:type" content="website">
    <meta property="og:description" content="성균관대학교 창업동아리"/>
    <meta property="og:image" content="http://wooridaum.tk/public/img/wwdlogo.jpg"/>

    <title>우리다움 공식 홈페이지</title>

    <link rel="icon" href="/public/img/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="public/img/bwdlogo.png" style="width:80px;"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">PROJECTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">TEAM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h3 class="text-uppercase">
              <strong>성균관대학교 창업동아리</strong>
            </h3>
            <h1 class="text-uppercase">
              <strong>WOORIDAUM</strong>
            </h1>
            <h1 class="text-uppercase">
              <strong style="color:tomato">2018</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">" The only way to do great work is to love what you do. "</p>
            <!--<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find More</a>-->
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Introduction</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">우리다움은 성균관대학교의 대표 창업 동아리로서 창업에 관심 있는 학생들이 모여 아이디어 브리핑, 창업 정보 등 정기적인 모임을 가지고, 학기마다 스프린트, 대회수상을 목표로 다양한 창업 프로젝트를 진행하고 있습니다.</p>
            <!--<a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>-->
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">RECENT PRODUCTS</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner row">

            <a class="col-lg-1 rcarousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
                <div class="carousel-control-prev-text"> < </div>
                <span class="sr-only">Previous</span>
            </a>

            <div class="col-lg-10 carousel-item active">
                <div class="row">
                  <div class="container col-lg-8">
                    <div class="b-content">
                      <iframe src="//www.slideshare.net/slideshow/embed_code/key/5yfOcqQStlejVk" width="100%" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen=""> </iframe> <!-- <div style="width:300px;margin:0px;"> <strong> <a href="//www.slideshare.net/wooridaum/deck-99941587" title="책 만드는 아이 피칭 Deck" target="_blank">책 만드는 아이 피칭 Deck</a> </strong> from <strong><a href="https://www.slideshare.net/wooridaum" target="_blank">wooridaum</a></strong> </div> -->
                    </div>    
                  </div>
                 <div class="col-lg-4" style="background-color:tomato; height:485px;">
                  <div style="border:white 4px solid; width:95%; height:95%; position:relative; top:11px; margin:auto auto;">
                    <div style="text-align:center;color:white;font-size:22pt;margin:18px auto;border-bottom: white 4px solid; width: 80%;">책 만드는 아이</div>
                    <div style="text-align:center;color:white; margin: 10px auto; width: 90%">아이가 그려가는 독서 어플리케이션
                        자녀에게 좀 더 적극적인 책 읽기를 시켜주고 싶은 부모 : AR무대와 그림을 이용한 독서 중 활동
                        기본적인 정서발달 뿐만 아니라 창의력 향상 결과를 부모님이 쉽게 확인할 수 있도록 꾸준히 보여줌.
                        아이의 정서적인 발달에 대한 평가가 자연스럽게 이루어지는 시스템을 구축할 예정.</div>
                  </div>
                 </div>
                </div>
            </div>

            <div class="col-lg-10 carousel-item">
                <div class="row">
                  <div class="container col-lg-8">
                    <div class="b-content">
                        <iframe width="100%" height="485" src="https://www.youtube.com/embed/WDRqEdYXzgI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>    
                  </div>
                 <div class="col-lg-4" style="background-color:tomato; height:485px;">
                  <div style="border:white 4px solid; width:95%; height:95%; position:relative; top:11px; margin:auto auto;">
                    <div style="text-align:center;color:white;font-size:22pt;margin:18px auto;border-bottom: white 4px solid; width: 80%;">책 만드는 아이</div>
                    <div style="text-align:center;color:white; margin: 10px auto; width: 90%">아이가 그려가는 독서 어플리케이션
                        자녀에게 좀 더 적극적인 책 읽기를 시켜주고 싶은 부모 : AR무대와 그림을 이용한 독서 중 활동
                        기본적인 정서발달 뿐만 아니라 창의력 향상 결과를 부모님이 쉽게 확인할 수 있도록 꾸준히 보여줌.
                        아이의 정서적인 발달에 대한 평가가 자연스럽게 이루어지는 시스템을 구축할 예정.</div>
                  </div>
                 </div>
                </div>
            </div>

            <div class="col-lg-10 carousel-item">
                <div class="row">
                  <div class="container col-lg-8">
                    <div class="b-content">
                      <iframe src="//www.slideshare.net/slideshow/embed_code/key/iy0KNRi82qku3g" width="100%" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen=""> </iframe>
                    </div>   
                  </div>
                 <div class="col-lg-4" style="background-color:tomato; height:485px;">
                  <div style="border:white 4px solid; width:95%; height:95%; position:relative; top:11px; margin:auto auto;">
                    <div style="text-align:center;color:white;font-size:22pt;margin:18px auto;border-bottom: white 4px solid; width: 80%;">Dr.M</div>
                    <div style="text-align:center;color:white; margin: 10px auto; width: 90%">본 사업은 화장초보 남성들을 대상으로 스마트폰 전면 카메라를 이용해 
                      고객의 얼굴 정보를 정기적으로 취합한 후, 얼굴 트러블 유무를 알려줌과 동시에 트러블 종류에 따른 화장미용관련 맞춤 정보를 제공하는 서비스입니다. 미(美)에 관심이 많으나 
                      본인 스스로 관리하는데 어려움을 느끼는 2~30대 남성을 대상으로 고객들의 피부톤과 트러블에 대한 데이터를 수집, AR 기술을 통해 
                      고객에게 트러블을 시각화해줌과 동시에 트러블 종류에 따른 화장품, 관리법을 연결합니다.</div>
                  </div>
                 </div>
                </div>
            </div>
            <div class="col-lg-10 carousel-item">
                <div class="row">
                    <div class="container col-lg-8">
                      <div class="b-content">
                        <iframe width="100%" height="485" src="https://www.youtube.com/embed/AGXfqG0KbDc" frameborder="0" id="youtube-player"></iframe>
                      </div>   
                    </div>
                   <div class="col-lg-4" style="background-color:tomato; height:485px;">
                    <div style="border:white 4px solid; width:95%; height:95%; position:relative; top:11px; margin:auto auto;">
                      <div style="text-align:center;color:white;font-size:22pt;margin:18px auto;border-bottom: white 4px solid; width: 80%;">Dr.M</div>
                      <div style="text-align:center;color:white; margin: 10px auto; width: 90%">본 사업은 화장초보 남성들을 대상으로 스마트폰 전면 카메라를 이용해 
                        고객의 얼굴 정보를 정기적으로 취합한 후, 얼굴 트러블 유무를 알려줌과 동시에 트러블 종류에 따른 화장미용관련 맞춤 정보를 제공하는 서비스입니다. 미(美)에 관심이 많으나 
                        본인 스스로 관리하는데 어려움을 느끼는 2~30대 남성을 대상으로 고객들의 피부톤과 트러블에 대한 데이터를 수집, AR 기술을 통해 
                        고객에게 트러블을 시각화해줌과 동시에 트러블 종류에 따른 화장품, 관리법을 연결합니다.</div>
                    </div>
                   </div>
                </div>
            </div>


            <a class="col-lg-1 rcarousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                <div class="carousel-control-next-text">></div>
                <span class="sr-only">Next</span>
              </a>

          </div>
      

        </div>

      </div>
      <!--<div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Sturdy Templates</h3>
              <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Ready to Ship</h3>
              <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Up to Date</h3>
              <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Made with Love</h3>
              <p class="text-muted mb-0">You have to make your websites with love these days!</p>
            </div>
          </div>
        </div>
      </div>-->
    </section>

    <section class="p-0" id="portfolio">
      <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">PROJECTS</h2>
                <hr class="my-4">
              </div>
            </div>
      </div>
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="public/img/inthetale2.png">
              <img class="img-fluid" src="public/img/inthetale2.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    2018 스마트창작터
                  </div>
                  <div class="project-name">
                    <div><strong>"책 만드는 아이"</strong></div>
                  </div>
                  <div class="project-name" style="border: white 2px solid; width: 200px; margin: 30px auto; ">
                    자세히 보기
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="public/img/globalpioneer.jpg">
              <img class="img-fluid" src="public/img/globalpioneer.jpg" alt="" style="width:100%; height:260.97px; object-fit: cover;">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    글로벌 프로젝트
                  </div>
                  <div class="project-name">
                    <div><strong> 2018 Global Pioneer Tokyo </strong></div>
                  </div>
                  <div class="project-name" style="border: white 2px solid; width: 200px; margin: 30px auto; ">
                    자세히 보기
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="public/img/iot2.png">
              <img class="img-fluid" src="public/img/iot2.png" alt="" style="width:100%; height:260.97px; /*object-fit: cover;*/">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    <제2회 스마트 IoT 아이디어 콘테스트>
                  </div>
                  <div class="project-name">
                    <div><strong> 에코봇 & 델타봇 </strong></div>
                  </div>
                  <div class="project-name" style="border: white 2px solid; width: 200px; margin: 30px auto; ">
                    자세히 보기
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="public/img/iot3.png">
                <img class="img-fluid" src="public/img/iot3.png" alt="" style="width:100%; height:260.97px; object-fit: cover;">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                      <제2회 스마트 IoT 아이디어 콘테스트>
                    </div>
                    <div class="project-name">
                      <div><strong> 카드 자동선별 IOT 서비스 </strong></div>
                    </div>
                    <div class="project-name" style="border: white 2px solid; width: 200px; margin: 30px auto; ">
                      자세히 보기
                    </div>
                  </div>
                </div>
              </a>
          </div>
          <div class="col-lg-8 col-sm-6" style="background-color:#F05F40">
              <div class="portfolio-box">
                <div class="portfolio-box-caption" style="opacity:1;position:absolute;top:130px;">
                  <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded" style="font-size: 40px;">
                      SINCE 2013
                    </div>
                    <div class="project-name" style="font-size: 25px;">
                      <div><strong> 우리다움의 도전은 앞으로도 계속됩니다 </strong></div>
                    </div>
                    <!--<div class="project-name" style="border: white 2px solid; width: 200px; margin: 30px auto; ">
                      자세히 보기
                    </div>-->
                  </div>
                </div>
              </div>
          </div>
          <!--<div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>-->
        </div>
      </div>
    </section>

    <section class="tean-sec bg-light py-md-5 py-3" id="team">
        <div class="teamBox">

            <div class="inner-sec-w3ls py-md-5 py-3">
                <div class="container">
                    <div class="row">
                      <div class="col-lg-12 text-center">
                        <h2 class="section-heading">TEAM</h2>
                        <hr class="my-4">
                      </div>
                    </div>
                </div>


                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner row">

                      <a class="col-lg-1 qcarousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                          <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
                          <div class="carousel-control-prev-text"> < </div>
                          <span class="sr-only">Previous</span>
                      </a>

                      <div class="col-lg-10 carousel-item active">
                        <div class="row">
                          <div class="col-lg-3 team-grids text-center">
                              <div class="team-info-content">
                                  <img src="public/img/김선지.png" class="img-fluid" alt="img">
                                  <!--<div class="view-caption">
      
                                      <ul class="social-icons justify-conten-center">
                                          <li class="mr-1"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                          <li class="mx-1"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                          <li class="mx-1"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                          <li class="mx-1"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                      </ul>
                                  </div>-->
      
                              </div>
                              <div class="team-description mt-3">
                                  <h4>김선지</h4>
                                  <p class="des font-italic">CEO</p>
                              </div>
                          </div>
                          <div class="col-lg-3 team-grids text-center">
                              <div class="team-info-content">
                                  <img src="public/img/전주형.png" class="img-fluid" alt="img">
      
                              </div>
                              <div class="team-description mt-3">
                                  <h4>전주형</h4>
                                  <p class="des font-italic">Director</p>
                              </div>
                          </div>
                          <div class="col-lg-3 team-grids text-center">
                              <div class="team-info-content">
                                  <img src="public/img/윤재경.png" class="img-fluid" alt="img">
                              </div>
                              <div class="team-description mt-3">
                                  <h4>윤재경</h4>
                                  <p class="des font-italic">Engineer</p>
                              </div>
                          </div>
                          <div class="col-lg-3 team-grids text-center">
                              <div class="team-info-content">
                                  <img src="public/img/김원혁.png" class="img-fluid" alt="img">

                              </div>
                              <div class="team-description mt-3">
                                  <h4>김원혁</h4>
                                  <p class="des font-italic">Designer & Engineer</p>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-10 carousel-item">
                          <div class="row">
                              <div class="col-lg-3 team-grids text-center">
                                  <div class="team-info-content">
                                      <img src="public/img/김인엽.png" class="img-fluid" alt="img">
          
                                  </div>
                                  <div class="team-description mt-3">
                                      <h4>김인엽</h4>
                                      <p class="des font-italic">Soldier</p>
                                  </div>
                              </div>
                              <div class="col-lg-3 team-grids text-center">
                                  <div class="team-info-content">
                                      <img src="public/img/기본2.png" class="img-fluid" alt="img">

          
                                  </div>
                                  <div class="team-description mt-3">
                                      <h4>박상제</h4>
                                      <p class="des font-italic">Engineer</p>
                                  </div>
                              </div>
                
                              <div class="col-lg-3 team-grids text-center">
                                  <div class="team-info-content">
                                      <img src="public/img/기본2.png" class="img-fluid" alt="img">
                                  </div>

                                  <div class="team-description mt-3">
                                      <h4>황시정</h4>
                                      <p class="des font-italic">Director</p>
                                  </div>
                              </div>
                              <div class="col-lg-3 team-grids text-center">
                                  <div class="team-info-content">
                                      <img src="public/img/기본2.png" class="img-fluid" alt="img">
                                  </div>
          
                                  <div class="team-description mt-3">
                                      <h4>장동민</h4>
                                      <p class="des font-italic">Director</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-10 carousel-item">
                          <div class="row">
                              <div class="col-lg-3 team-grids text-center">
                                  <div class="team-info-content">
                                      <img src="public/img/강민경.png" class="img-fluid" alt="img">
          
                                  </div>
                                  <div class="team-description mt-3">
                                      <h4>강민경</h4>
                                      <p class="des font-italic">Engineer</p>
                                  </div>
                              </div>
                              <div class="col-lg-3 team-grids text-center">
                                  <div class="team-info-content">
                                      <img src="public/img/고현수.png" class="img-fluid" alt="img">
          
                                  </div>
                                  <div class="team-description mt-3">
                                      <h4>고현수</h4>
                                      <p class="des font-italic">Engineer</p>
                                  </div>
                              </div>
                              <div class="col-lg-3 team-grids text-center">
                                  <div class="team-info-content">
                                      <img src="public/img/기본2.png" class="img-fluid" alt="img">
                                  </div>
                                  <div class="team-description mt-3">
                                      <h4>안현준</h4>
                                      <p class="des font-italic">Engineer</p>
                                  </div>
                              </div>
                              <div class="col-lg-3 team-grids text-center">
                                  <div class="team-info-content">
                                      <img src="public/img/기본2.png" class="img-fluid" alt="img">
                                  </div>
                                  <div class="team-description mt-3">
                                      <h4>나현경</h4>
                                      <p class="des font-italic">Director</p>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <a class="col-lg-1 qcarousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                          <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                          <div class="carousel-control-next-text">></div>
                          <span class="sr-only">Next</span>
                        </a>

                    </div>
                

                  </div>

            </div>
        </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contact</h2>
            <hr class="my-4">
            <p class="mb-5"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>010-9914-5107</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
              <i class="fa fa-home fa-3x mb-3 sr-contact" style="margin:0px;"></i>
                <div>경기도 수원시 장안구</div> 
                <div>서부로 2066 학생회관 03213</div>
            </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              wooridaum.skku@gmail.com
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
        <div class="copyright row">
            <img class="footer_logo" src="public/img/bwdlogo.png" style="position:relative; left:25px; bottom:5px; height:60px ">
            <div class="addr" style="margin-left:40px;">
                <div>성균관대학교 창업 동아리 '우리다움'</div>
                <div><a class = 'footer_popup' href="#" onClick="window.open('http://scg.skku.ac.kr'); return false" data-toggle="tooltip" data-placement="top" title="#18고현수 #18조건희">
                COPYRIGHT ⓒ 2018 성균관대학교 시스템컨설턴트그룹 All Right Reserved.
                </a></div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>
